<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="../template/mainadm.xhtml">

    <ui:define name="content">
        <style>
            #formSalvarContato input{width: 100%};
        </style>

        <p:growl id="growl" showDetail="true" life="3000"/>

        <div class="w3-container w3-animate-top" 
             id="telaPrincipal">
            <div class="ui-g-12 w3-container w3-card-4" >

                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-user"></i> Lista de Contatos</b></h5>
                </header>
                <h:form id="formContato">
                    <p:dataTable id="dtContato" 
                                 var="cont" 
                                 value="#{administrativaBean.lazyModel}" 
                                 emptyMessage="Nenhum contato encontrado na consulta!"                        
                                 rowKey="#{cont.contatoid}"  
                                 lazy="true"
                                 widgetVar="contatoItens" 
                                 paginator="true" 
                                 rows="20"
                                 class="w3-striped w3-bordered w3-border w3-hoverable w3-white">
                        <f:facet name="header">
                            <p:commandButton icon="fa fa-fw fa-plus" 
                                             action="#{administrativaBean.prepararNovoContato()}"
                                             process="@this"
                                             title="Novo Contato" 
                                             value="Novo Contato" 
                                             update="formSalvarContato"
                                             class="w3-padding"
                                             style="width: 100%"
                                             onclick="abrirLoading()"
                                             oncomplete="transicaoTela('telaPrincipal', 'telaSalvarContato');"/>
                        </f:facet>

                        <p:column sortBy="#{id}" 
                                  headerText="Código" 
                                  style="width:20%;text-align: center"                                  
                                  priority="5">
                            <h:outputText value="#{cont.contatoid}"/>
                        </p:column>

                        <p:column sortBy="#{cont.nome}" 
                                  filterBy="#{cont.nome}" 
                                  headerText="Nome" 
                                  filterMatchMode="contains"
                                  style="width:30%;text-align: left"
                                  priority="1">
                            <h:outputText value="#{cont.nome}"
                                          title="#{cont.nome}"/>
                        </p:column>

                        <p:column sortBy="#{cont.login}" 
                                  filterBy="#{cont.login}" 
                                  headerText="Login" 
                                  filterMatchMode="contains"
                                  style="width:20%;text-align: left"
                                  priority="1">
                            <h:outputText value="#{cont.login}"
                                          title="#{cont.login}"/>
                        </p:column>

                        <p:column sortBy="#{cont.ramal}" 
                                  filterBy="#{cont.ramal}" 
                                  headerText="Ramal" 
                                  filterMatchMode="contains"
                                  style="width:20%;text-align: left"
                                  priority="1">
                            <h:outputText value="#{cont.ramal}"
                                          title="#{cont.ramal}"/>
                        </p:column>

                        <p:column sortBy="#{cont.email}" 
                                  filterBy="#{cont.email}" 
                                  headerText="E-mail" 
                                  filterMatchMode="contains"
                                  style="width:30%;text-align: left"
                                  priority="1">
                            <h:outputText value="#{cont.email}"
                                          title="#{cont.email}"/>
                        </p:column>

                        <p:column style="width:12%;text-align: center"
                                  priority="1">
                            <p:commandButton icon="fa fa-fw fa-edit" 
                                             title="Editar contato" 
                                             class="w3-padding"
                                             onclick="abrirLoading()"
                                             style="width: 100%"
                                             update="formSalvarContato"
                                             oncomplete="transicaoTela('telaPrincipal','telaSalvarContato');" >
                                <f:setPropertyActionListener value="#{cont}" 
                                                             target="#{administrativaBean.contato}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column style="width:12%;text-align: center"
                                  priority="1">
                            <p:commandButton icon="fa fa-fw fa-trash-o" 
                                             title="Excluir contato" 
                                             class="w3-padding"
                                             update="dtContato"
                                             onclick="abrirLoading()"
                                             style="width: 100%"
                                             oncomplete="fecharLoading()"
                                             action="#{administrativaBean.excluirContato()}">
                                <p:confirm header="Confirmação" 
                                           message="Confirma excluir este contato?" 
                                           icon="ui-icon-alert"/>
                                <f:setPropertyActionListener value="#{cont}" 
                                                             target="#{administrativaBean.contato}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>
        </div>

        <!-- Tela que salvar contato-->
        <div class="w3-container w3-animate-zoom w3-white" 
             id="telaSalvarContato"
             style="display: none;">
            <h:form id="formSalvarContato">
                <div class="ui-g-12 w3-container w3-card-4" >
                    <header class="w3-container" style="padding-top:22px">
                        <h5><b><i class="fa fa-user"></i> Salvar Contato</b></h5>
                    </header>
                    <p:toolbar >    
                        <f:facet name="left"> 
                            <p:commandButton oncomplete="transicaoTelaJsf(xhr, status, args);" 
                                             action="#{administrativaBean.salvarContato('telaSalvarContato', 'telaPrincipal')}"
                                             update="growl,formContato"
                                             icon="fa fa-save" 
                                             value="Salvar" 
                                             title="Salvar" 
                                             class="w3-padding"/>
                        </f:facet>
                        <f:facet name="right"> 
                            <p:commandButton onclick="transicaoTela('telaSalvarContato', 'telaPrincipal')"
                                             icon="fa fa-rotate-left" 
                                             value="Voltar" 
                                             process="@this"
                                             title="Voltar" 
                                             class="w3-padding">
                                <p:confirm header="Confirmação" 
                                           message="Todas as alterações serão perdidas! Confirma sair da tela?" 
                                           icon="ui-icon-alert"/>
                            </p:commandButton>
                        </f:facet>
                    </p:toolbar>
                    <div class="ui-g-12">
                        <p:panel style="width: 100%">
                            <p:panelGrid columns="2"
                                         columnClasses="ui-grid-col-4,ui-grid-col-8" 
                                         layout="grid" 
                                         styleClass="ui-panelgrid-blank">
                                <p:outputLabel for="nome"
                                               value="Nome"/>
                                <p:inputText id="nome"
                                             value="#{administrativaBean.contato.nome}"                                     
                                             required="true"
                                             placeholder="Nome"
                                             autocomplete="off"/>                               
                                <h:outputLabel for="login"
                                               value="Login: *" />    
                                <p:inputText id="login"
                                             size="30"
                                             autocomplete="off"
                                             style="color: #000000 !important;width: 100%"
                                             value="#{administrativaBean.contato.login}"
                                             required="true"
                                             placeholder="Digite seu Login"
                                             requiredMessage="Campo Login é Obrigatório.">
                                    <p:keyFilter regEx="/[a-z0-9_]/i"/>
                                    <f:validateLength minimum="6"/>
                                </p:inputText>
                                <h:outputLabel for="senha"
                                               rendered="#{administrativaBean.contato.contatoid == null}"
                                               value="Senha:" />
                                <p:password id="senha"
                                            rendered="#{administrativaBean.contato.contatoid == null}"
                                            value="#{administrativaBean.contato.senha}"
                                            match="senha2"
                                            size="30"
                                            style="color: #000000 !important;width: 100%"
                                            required="true"
                                            placeholder="Digite sua senha"
                                            requiredMessage="Campo Senha é Obrigatório.">
                                    <f:validateLength minimum="6" />
                                </p:password>
                                <h:outputLabel for="senha2"
                                               rendered="#{administrativaBean.contato.contatoid == null}"
                                               value="Repita a senha:" />
                                <p:password id="senha2"
                                            rendered="#{administrativaBean.contato.contatoid == null}"
                                            value="#{administrativaBean.contato.senha}"
                                            style="color: #000000 !important;width: 100%"
                                            size="30"
                                            placeholder="Repita sua senha"/>
                                <p:outputLabel for="ramal" 
                                               value="Ramal: " />
                                <p:inputMask id="ramal" 
                                             value="#{administrativaBean.contato.ramal}" 
                                             autocomplete="off"
                                             style="color: #000000 !important;width: 100%"
                                             placeholder="Número do Ramal Ex: 12"
                                             mask="99"/>
                                <h:outputLabel for="email"
                                               value="E-mail: *"/>
                                <p:inputText id="usu_email"
                                             value="#{administrativaBean.contato.email}"
                                             size="30"
                                             autocomplete="off"
                                             style="color: #000000 !important;width: 100%"
                                             validatorMessage="e-Mail inválido"
                                             required="true"
                                             placeholder="E-mail: seuemail@email.com"
                                             requiredMessage="Campo E-mail é Obrigatório.">
                                    <f:validateRegex pattern="[a-zA-Z0-9\-\_\.]+@[a-zA-Z0-9\-\_\.]+"/>
                                </p:inputText>

                                <p:outputLabel for="indioma" 
                                               value="Indioma:" />
                                <p:selectOneMenu id="indioma" 
                                                 value="#{administrativaBean.contato.indioma}" 
                                                 style="width:125px">
                                    <f:selectItem itemLabel="Protuguês Br" itemValue="br" />
                                    <f:selectItem itemLabel="English" itemValue="eng" />
                                </p:selectOneMenu>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>


    <ui:define name="complementomenu">
        <p:commandButton icon="fa fa-home"
                         action="#{administrativaBean.home()}"
                         process="@this"
                         title="Home" 
                         value="Home"
                         onclick="bloquearTela()"
                         class="w3-padding"
                         style="width: 100%"/>        
        <p:commandButton action="#{administrativaBean.iniciarTarefa()}"
                         icon="fa fa-spinner"
                         process="@this"
                         onclick="abrirLoading();"
                         oncomplete="fecharLoading();"
                         title="Iniciar Tarefa de Apagar Recados" 
                         value="Iniciar Tarefa" 
                         class="w3-padding"
                         style="width: 100%"/>        
    </ui:define>
</ui:composition>


