<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="../template/main.xhtml">

    <ui:define name="content">
        <style>
            #formSalvarRecado input{width: 100%};
            .lido {
                color: graytext;
            }
        </style>

        <p:growl id="growl" showDetail="true" life="3000"/>

        <div class="w3-container w3-animate-top" 
             id="telaPrincipal">
            <div class="ui-g-12 w3-container w3-card-4" >

                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-newspaper-o"></i> #{princialBean.linguagem.principalTitulo}</b></h5>
                </header>
                
                
                <div class="w3-container">
                    #{princialBean.linguagem.principalmensagemnumerorecados}
                    <p:outputLabel id="contator"
                                   style="font-size: 16px !important"
                                   value="= #{princialBean.numerorecadosdiario}"/>
                    <pr/>
                    <pr/>
                </div>
                    

                <h:form id="formRecado">
                    <p:dataTable id="dtRecado" 
                                 var="rec" 
                                 value="#{princialBean.listaRecados}" 
                                 emptyMessage="#{princialBean.linguagem.mensagememptyrecado}!" 
                                 paginator="true" 
                                 rows="5"
                                 rowStyleClass="#{rec.indlido ? 'lido' : ''}"
                                 class="w3-striped w3-bordered w3-border w3-hoverable w3-white">                       

                        <p:column style="width:15%;text-align: center"
                                  priority="1">
                            <p:commandButton icon="fa fa-search" 
                                             title="#{princialBean.linguagem.principalbutton1}" 
                                             oncomplete="PF('dlgRecadoV').show()"
                                             update="dtRecado,:formRecadoV"
                                             action="#{princialBean.marcarComoLido()}">
                                <f:setPropertyActionListener value="#{rec}" 
                                                             target="#{princialBean.recado}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column style="width:15%;text-align: center"
                                  priority="1">
                            <p:outputLabel value="#{princialBean.linguagem.principallabel1}"
                                           rendered="#{!rec.indlido}"/>
                            <p:commandButton icon="fa fa-check" 
                                             title="#{princialBean.linguagem.principalmensagem2}" 
                                             class="w3-padding"
                                             update="dtRecado"
                                             rendered="#{rec.indlido}"
                                             action="#{princialBean.marcarComoNaoLido()}">
                                <f:setPropertyActionListener value="#{rec}" 
                                                             target="#{princialBean.recado}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column sortBy="#{rec.quem}" 
                                  filterBy="#{rec.quem}" 
                                  headerText="#{princialBean.linguagem.principalcolunaremetente}" 
                                  filterMatchMode="contains"
                                  style="width:40%;text-align: left"
                                  priority="1">
                            <h:outputText value="#{rec.quem}"
                                          title="#{rec.quem}"/>
                        </p:column>

                        <p:column sortBy="#{rec.horario}" 
                                  filterBy="#{rec.horario}" 
                                  headerText="#{princialBean.linguagem.labeldata}" 
                                  filterMatchMode="contains"
                                  style="width:40%;text-align: left"
                                  priority="1">
                            <h:outputText value="#{rec.horario}"
                                          title="#{rec.horario}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>
        </div>

        <!-- Tela que salvar recados-->
        <div class="w3-container w3-animate-zoom w3-white" 
             id="telaSalvarRecado"
             style="display: none;">
            <h:form id="formSalvarRecado">
                <div class="ui-g-12 w3-container w3-card-4" >
                    <header class="w3-container" style="padding-top:22px">
                        <h5><b><i class="fa fa-user"></i> #{princialBean.linguagem.principaltitulosalvarrecado}</b></h5>
                    </header>
                    <p:toolbar >    
                        <f:facet name="left"> 
                            <p:commandButton oncomplete="transicaoTelaJsf(xhr, status, args);" 
                                             action="#{princialBean.salvarRecado('telaSalvarRecado', 'telaPrincipal')}"
                                             update="growl,formRecado"
                                             icon="fa fa-save" 
                                             value="#{princialBean.linguagem.buttonsalvar}" 
                                             title="#{princialBean.linguagem.buttonsalvar}" 
                                             class="w3-padding"/>
                        </f:facet>
                        <f:facet name="right"> 
                            <p:commandButton onclick="transicaoTela('telaSalvarRecado', 'telaPrincipal')"
                                             icon="fa fa-rotate-left" 
                                             value="#{princialBean.linguagem.buttonvoltar}" 
                                             title="#{princialBean.linguagem.buttonvoltar}" 
                                             process="@this"
                                             class="w3-padding">
                                <p:confirm header="#{princialBean.linguagem.headerlabelconfirmacao}" 
                                           message="#{princialBean.linguagem.mensagemconfirmacaovoltar}" 
                                           icon="ui-icon-alert"/>
                            </p:commandButton>
                        </f:facet>
                    </p:toolbar>
                    <div class="ui-g-12">
                        <p:panel style="width: 100%">
                            <p:panelGrid columns="2"
                                         columnClasses="ui-grid-col-4,ui-grid-col-8" 
                                         layout="grid" 
                                         styleClass="ui-panelgrid-blank">
                                <p:outputLabel value="#{princialBean.linguagem.principallabelcontato}"/>
                                <p:commandButton oncomplete="PF('dlgContato').show()"
                                                 icon="fa fa-rotate-left" 
                                                 value="#{princialBean.contato == null ? princialBean.linguagem.principalmensagem4  : princialBean.contato.nome}" 
                                                 process="@this"
                                                 style="width: 100%"
                                                 class="w3-padding"/>
                                <p:outputLabel for="mensagem"
                                               value="#{princialBean.linguagem.principallabeltexto}"/>
                                <p:inputTextarea id="mensagem"
                                                 value="#{princialBean.recado.texto}"                                     
                                                 required="true"
                                                 style="width: 100%"
                                                 placeholder="#{princialBean.linguagem.principalplaceholder1}"/>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </div>
            </h:form>
        </div>

        <!-- Tela que Mensagens Enviadas-->
        <div class="w3-container w3-animate-zoom w3-white" 
             id="telaRecadosEnviados"
             style="display: none;">
            <div class="ui-g-12 w3-container w3-card-4" >
                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-newspaper-o"></i> #{princialBean.linguagem.principaltitulorecadosenviados}</b></h5>
                </header>  
            </div>
            <h:form id="formRecadoEnviados">
                <p:toolbar >  
                    <f:facet name="right"> 
                        <p:commandButton onclick="transicaoTela('telaRecadosEnviados', 'telaPrincipal')"
                                         icon="fa fa-rotate-left" 
                                         value="#{princialBean.linguagem.buttonvoltar}" 
                                         process="@this"
                                         title="#{princialBean.linguagem.buttonvoltar}" 
                                         class="w3-padding">
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
                <p:dataTable id="dtRecado" 
                             var="rec" 
                             value="#{princialBean.listaRecadosEnviados}" 
                             emptyMessage="#{princialBean.linguagem.mensagememptyrecado}"                        
                             rowKey="#{rec.contatoid}"
                             widgetVar="contatoItens" 
                             paginator="true" 
                             rows="10"
                             rowStyleClass="#{rec.indlido ? 'lido' : ''}"
                             class="w3-striped w3-bordered w3-border w3-hoverable w3-white">                       

                    <p:column sortBy="#{rec.contato.nome}" 
                              filterBy="#{rec.contato.nome}" 
                              headerText="#{princialBean.linguagem.principallabelcontato}" 
                              filterMatchMode="contains"
                              style="width:20%;text-align: left"
                              priority="1">
                        <h:outputText value="#{rec.contato.nome}"
                                      title="#{rec.contato.nome}"/>
                    </p:column>  

                    <p:column sortBy="#{rec.horario}" 
                              filterBy="#{rec.horario}" 
                              headerText="#{princialBean.linguagem.labeldata}" 
                              filterMatchMode="contains"
                              style="width:20%;text-align: left"
                              priority="1">
                        <h:outputText value="#{rec.horario}"
                                      title="#{rec.horario}"/>
                    </p:column>                    

                    <p:column sortBy="#{rec.texto}" 
                              filterBy="#{rec.texto}" 
                              headerText="#{princialBean.linguagem.labelrecado}" 
                              filterMatchMode="contains"
                              style="width:40%;text-align: left"
                              priority="1">
                        <h:outputText value="#{rec.texto}"
                                      title="#{rec.texto}"/>
                    </p:column>                   
                </p:dataTable>
            </h:form>
        </div>

        <p:dialog widgetVar="dlgContato" 
                  modal="true" 
                  width="400" 
                  height="300">
            <h:form id="formContatos">                 
                <p:dataTable id="dtContatos" 
                             var="cont"
                             value="#{princialBean.listaContado}" 
                             emptyMessage="#{princialBean.linguagem.mensagememptycontato}" 
                             rowKey="#{cont.contatoid}" 
                             scrollable="true" 
                             paginator="true" 
                             rows="10">
                    <p:column style="width:20%;text-align: center">
                        <p:commandButton ajax="true"
                                         icon="fa fa-check"
                                         update=":formSalvarRecado"
                                         oncomplete="PF('dlgContato').hide()"
                                         action="#{princialBean.prepararContatoRecado()}">
                            <f:setPropertyActionListener value="#{cont}" 
                                                         target="#{princialBean.contato}"/>
                        </p:commandButton>
                    </p:column>

                    <p:column sortBy="#{cont.nome}" 
                              headerText="#{princialBean.linguagem.labelnome}" 
                              style="width:40%;text-align: left">
                        <h:outputText value="#{cont.nome}" />
                    </p:column>    

                    <p:column sortBy="#{cont.login}" 
                              headerText="Login" 
                              style="width:25%;text-align: left">
                        <h:outputText value="#{cont.login}" />
                    </p:column>  


                </p:dataTable>
            </h:form>  
        </p:dialog>

        <p:dialog widgetVar="dlgRecadoV" 
                  modal="true" 
                  width="400" 
                  height="300">
            <h:form id="formRecadoV">                 
                <p:panelGrid columns="2"
                             columnClasses="ui-grid-col-4,ui-grid-col-8" 
                             layout="grid" 
                             styleClass="ui-panelgrid-blank">
                    <p:outputLabel value="#{princialBean.linguagem.labelcontato}"/>
                    <p:outputLabel value="#{princialBean.recado.quem}"/>
                    <p:outputLabel for="data"
                                   value="#{princialBean.linguagem.labeldata}"/>
                    <p:outputLabel id="data"
                                   value="#{princialBean.recado.horario}"/>
                    <p:outputLabel for="mensagem"
                                   value="#{princialBean.linguagem.labelrecado}"/>
                    <p:outputLabel id="mensagem"
                                   value="#{princialBean.recado.texto}"/>
                </p:panelGrid>
            </h:form>  
        </p:dialog>
    </ui:define>


    <ui:define name="complementomenu">
        <p:commandButton icon="fa fa-fw fa-plus" 
                         action="#{princialBean.prepararNovoRecado()}"
                         process="@this"
                         title="#{princialBean.linguagem.buttonnovorecado}" 
                         value="#{princialBean.linguagem.buttonnovorecado}" 
                         update="formSalvarRecado"
                         class="w3-padding"
                         style="width: 100%"
                         onclick="abrirLoading()"
                         oncomplete="transicaoTela('telaPrincipal,telaRecadosEnviados,telaSalvarRecado', 'telaSalvarRecado');"/>
        <p:commandButton icon="fa fa-envelope" 
                         action="#{princialBean.prepararNovoRecado()}"
                         process="@this"
                         title="#{princialBean.linguagem.labelrecadosenviados}" 
                         value="#{princialBean.linguagem.labelrecadosenviados}" 
                         update="formRecadoEnviados"
                         class="w3-padding"
                         style="width: 100%"
                         onclick="abrirLoading()"
                         oncomplete="transicaoTela('telaPrincipal,telaRecadosEnviados,telaSalvarRecado', 'telaRecadosEnviados');"/>
        <p:commandButton icon="fa fa-download" 
                         process="@this"
                         title="#{princialBean.linguagem.buttonrelatorioderecados}" 
                         value="#{princialBean.linguagem.buttonrelatorioderecados}" 
                         ajax="false"
                         action="#{princialBean.downloadPDFRelatorioRecado(actionEvent)}"
                         class="w3-padding"
                         style="width: 100%"/>

    </ui:define>
</ui:composition>


