<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="../template/mainadm.xhtml">

    <ui:define name="content">
        <style>
            #formSalvarRecado input{width: 100%};
            .lido {
                color: graytext;
            }
        </style>

        <p:growl id="growl" showDetail="true" life="3000"/>

        <div class="w3-container w3-animate-top" 
             id="telaPrincipal"
             style="height: 400px">
            <div class="ui-g-12 w3-container w3-card-4" 
                 style="height: 400px">

                <header class="w3-container" style="padding-top:22px">
                    <h5><b><i class="fa fa-newspaper-o"></i> Lista de recados</b></h5>
                </header>    

                <p:commandButton icon="fa fa-fw fa-plus" 
                                 action="#{secretariaBean.prepararNovoRecado()}"
                                 process="@this"
                                 title="Novo Recado" 
                                 value="Novo Recado" 
                                 update="formSalvarRecado"
                                 class="w3-padding"
                                 style="width: 100%"
                                 onclick="abrirLoading()"
                                 oncomplete="transicaoTela('telaPrincipal', 'telaSalvarRecado');"/>
            </div>
        </div>

        <!-- Tela que salvar recados-->
        <div class="w3-container w3-animate-zoom w3-white" 
             id="telaSalvarRecado"
             style="display: none;">
            <h:form id="formSalvarRecado">
                <div class="ui-g-12 w3-container w3-card-4" >
                    <header class="w3-container" style="padding-top:22px">
                        <h5><b><i class="fa fa-user"></i> Salvar Recado</b></h5>
                    </header>
                    <p:toolbar >    
                        <f:facet name="left"> 
                            <p:commandButton oncomplete="transicaoTelaJsf(xhr, status, args);" 
                                             action="#{secretariaBean.salvarRecado('telaSalvarRecado', 'telaPrincipal')}"
                                             update="growl"
                                             icon="fa fa-save" 
                                             value="Salvar" 
                                             title="Salvar" 
                                             class="w3-padding"/>
                        </f:facet>
                        <f:facet name="right"> 
                            <p:commandButton onclick="transicaoTela('telaSalvarRecado', 'telaPrincipal')"
                                             icon="fa fa-rotate-left" 
                                             value="Voltar" 
                                             title="Voltar" 
                                             process="@this"
                                             class="w3-padding">
                                <p:confirm header="Confirmação" 
                                           message="Tem certesa que deseja sair desta tela? Você perderá todas as alterações." 
                                           icon="ui-icon-alert"/>
                            </p:commandButton>
                        </f:facet>
                    </p:toolbar>
                    <div class="ui-g-12">
                        <p:panel style="width: 100%">
                            <p:panelGrid columns="2"
                                         columnClasses="ui-grid-col-4,ui-grid-col-8" 
                                         layout="grid" 
                                         styleClass="ui-panelgrid-blank">
                                <p:outputLabel value="Destinatário"/>
                                <p:commandButton onclick="abrirLoading();"
                                                 oncomplete="transicaoTela('telaSalvarRecado', 'telaDestinatario')"
                                                 icon="fa fa-rotate-left" 
                                                 update="formDestinatario"
                                                 value="#{secretariaBean.contato == null ? 'Selecione um destinatário'  : secretariaBean.contato.nome}" 
                                                 process="@this"
                                                 style="width: 100%"
                                                 class="w3-padding"/>

                                <p:outputLabel value="Remetente"/>
                                <p:commandButton onclick="abrirLoading();"
                                                 oncomplete="transicaoTela('telaSalvarRecado', 'telaRemetente')"
                                                 icon="fa fa-rotate-left" 
                                                 value="#{secretariaBean.contato == null ? 'Selecione um remetente'  : secretariaBean.remetente.nome}" 
                                                 process="@this"
                                                 update="formRemetente"
                                                 style="width: 100%"
                                                 class="w3-padding"/>

                                <p:outputLabel for="mensagem"
                                               value="Recado"/>
                                <p:inputTextarea id="mensagem"
                                                 value="#{secretariaBean.recado.texto}"                                     
                                                 required="true"
                                                 style="width: 100%"
                                                 placeholder="Texto do recado."/>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </div>
            </h:form>
        </div>

        <!-- Tela que salvar destinatário-->
        <div class="w3-container w3-animate-zoom w3-white" 
             id="telaDestinatario"
             style="display: none;">
            <h:form id="formDestinatario">
                <div class="ui-g-12 w3-container w3-card-4" >
                    <header class="w3-container" style="padding-top:22px">
                        <h5><b><i class="fa fa-user"></i> Escolha um destinatário</b></h5>
                    </header>
                    <p:toolbar >  
                        <f:facet name="right"> 
                            <p:commandButton onclick="transicaoTela('telaDestinatario', 'telaSalvarRecado')"
                                             icon="fa fa-rotate-left" 
                                             value="Voltar" 
                                             title="Voltar" 
                                             process="@this"
                                             class="w3-padding">
                                <p:confirm header="Confirmação" 
                                           message="Tem certesa que deseja sair desta tela? Você perderá todas as alterações." 
                                           icon="ui-icon-alert"/>
                            </p:commandButton>
                        </f:facet>
                    </p:toolbar>
                    <div class="ui-g-12">
                        <p:dataTable id="dtContatos" 
                                     var="cont"
                                     value="#{secretariaBean.listaContado}" 
                                     emptyMessage="Nenhum contato encontrado" 
                                     rowKey="#{cont.contatoid}" 
                                     scrollable="true" 
                                     paginator="true" 
                                     rows="10">
                            <p:column style="width:20%;text-align: center">
                                <p:commandButton ajax="true"
                                                 icon="fa fa-check"
                                                 update=":formSalvarRecado"
                                                 onclick="transicaoTela('telaDestinatario', 'telaSalvarRecado')">
                                    <f:setPropertyActionListener value="#{cont}" 
                                                                 target="#{secretariaBean.contato}"/>
                                </p:commandButton>
                            </p:column>

                            <p:column sortBy="#{cont.nome}" 
                                      headerText="Nome" 
                                      style="width:40%;text-align: left">
                                <h:outputText value="#{cont.nome}" />
                            </p:column>    

                            <p:column sortBy="#{cont.login}" 
                                      headerText="Login" 
                                      style="width:25%;text-align: left">
                                <h:outputText value="#{cont.login}" />
                            </p:column> 
                        </p:dataTable>
                    </div>
                </div>
            </h:form>
        </div>

        <!-- Tela que salvar remetente-->
        <div class="w3-container w3-animate-zoom w3-white" 
             id="telaRemetente"
             style="display: none;">
            <h:form id="formRemetente">
                <div class="ui-g-12 w3-container w3-card-4" >
                    <header class="w3-container" style="padding-top:22px">
                        <h5><b><i class="fa fa-user"></i> Escolha um remetente</b></h5>
                    </header>
                    <p:toolbar >  
                        <f:facet name="right"> 
                            <p:commandButton onclick="transicaoTela('telaRemetente', 'telaSalvarRecado')"
                                             icon="fa fa-rotate-left" 
                                             value="Voltar" 
                                             title="Voltar" 
                                             process="@this"
                                             class="w3-padding">
                                <p:confirm header="Confirmação" 
                                           message="Tem certesa que deseja sair desta tela? Você perderá todas as alterações." 
                                           icon="ui-icon-alert"/>
                            </p:commandButton>
                        </f:facet>
                    </p:toolbar>
                    <div class="ui-g-12">
                        <p:dataTable id="dtContatos" 
                                     var="rem"
                                     value="#{secretariaBean.listaContado}" 
                                     emptyMessage="Nenhum contato encontrado" 
                                     rowKey="#{cont.contatoid}" 
                                     scrollable="true" 
                                     paginator="true" 
                                     rows="10">
                            <p:column style="width:20%;text-align: center">
                                <p:commandButton ajax="true"
                                                 icon="fa fa-check"
                                                 update=":formSalvarRecado"
                                                 onclick="transicaoTela('telaRemetente', 'telaSalvarRecado')">
                                    <f:setPropertyActionListener value="#{rem}" 
                                                                 target="#{secretariaBean.remetente}"/>
                                </p:commandButton>
                            </p:column>

                            <p:column sortBy="#{rem.nome}" 
                                      headerText="Nome" 
                                      style="width:40%;text-align: left">
                                <h:outputText value="#{rem.nome}" />
                            </p:column>    

                            <p:column sortBy="#{rem.login}" 
                                      headerText="Login" 
                                      style="width:25%;text-align: left">
                                <h:outputText value="#{rem.login}" />
                            </p:column> 
                        </p:dataTable>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>


