<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta content="" />
        <link href="../resource/css/efeitoloading.css" 
              rel="stylesheet" 
              type="text/css"/>
        <link rel="stylesheet" 
              href="https://fonts.googleapis.com/css?family=Raleway"/>
        <link rel="stylesheet" 
              href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
        <script src="../resource/javascript/FuncoesJS.js" 
                type="text/javascript"/>
        <script src="../resource/javascript/LayoutTela.js" 
                type="text/javascript"/>
        <link rel="shortcut icon" 
              href="../imagens/Ico.ico"/>             
        <!-- Template-->
        <meta name="viewport" 
              http-equiv="Content-Type"  
              content="width=device-width, initial-scale=1,text/html; charset=UTF-8"/>
        <link href="../resource/css/layoutpersonalizado.css" 
              rel="stylesheet" 
              type="text/css"/>
        <style type="text/css">
            .ui-widget {
                font-size: 12px !important;
            }
            .ui-button-text{
                font-size:14px;

            }
            .smallButton .ui-button-text {
                font-size:11px;                
            }
            #formPreco input{width: 100%}

            #formMenu li{
                size: 100px;
            }
        </style>
        <title>Área Administrativa - Agenda de Contatos</title>
    </h:head>

    <h:body class="w3-light-grey">
        <div class="loading" 
             id="carregando">
            loading&#8230;
        </div>

        <!-- p:remoteCommand name="logout" actionListener="" / -->

        <!-- Top container -->
        <div class="w3-container w3-top w3-black w3-large w3-padding" 
             style="z-index:4">
            <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" 
                    onclick="w3_open();">
                <i class="fa fa-bars"></i> 
                Menu
            </button>
            <span class="w3-right"></span>
        </div>

        <!-- Sidenav/menu -->
        <nav class="w3-sidenav w3-collapse w3-white w3-animate-left w3-card-2" 
             style="z-index:3;width:300px;" 
             id="mySidenav">
            <br/>
            <div class="w3-container w3-row">
                <div class="w3-col s4">
                    <img src="../resource/imagens/user.png" class="w3-circle w3-margin-right" style="width:46px"></img>
                </div>
                <h:form id="formLink">                        
                    <div class="w3-col s8">
                        <span>Área Administrativa</span>

                        <h:commandLink class="w3-hover-none w3-hover-text-blue w3-show-inline-block" 
                                       title="Sair do sistema"
                                       onclick="bloquearTela()"
                                       action="#{administrativaBean.home()}">
                            <i class="fa fa-home"></i>                        
                        </h:commandLink>
                    </div>
                </h:form>
            </div>
            <br/>
            <a href="#" 
               class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" 
               onclick="w3_close()" 
               title="fechar menu">
                <i class="fa fa-remove fa-fw"></i>  
                Fechar Menu
            </a>
            <h:form id="formMenu">  
                         
                <ui:insert name="complementomenu"/> 
            </h:form>
            <br/>
            <br/>
        </nav> 

        <!-- Overlay effect when opening sidenav on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" 
             onclick="w3_close()" 
             style="cursor:pointer" 
             title="Fechar menu" 
             id="myOverlay"></div>

        <script>
            // Get the Sidenav
            var mySidenav = document.getElementById("mySidenav");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            var carregandoTela = document.getElementById("carregando");

            var bloqueado = false;

            // Toggle between showing and hiding the sidenav, and add overlay effect
            function w3_open() {
                if (mySidenav.style.display === 'block') {
                    mySidenav.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidenav.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidenav with the close button
            function w3_close() {
                mySidenav.style.display = "none";
                overlayBg.style.display = "none";
            }

            $(document).ready(function () {
                //Esconde preloader
                $(window).load(function () {
                    $('#carregando').fadeOut(500);
                    //1500 é a duração do efeito (1.5 seg)
                });
            });


            function bloquearTela() {
                if (bloqueado) {
                    carregandoTela.style.display = "none";
                    bloqueado = false;
                } else {
                    carregandoTela.style.display = "block";
                    bloqueado = true;
                }
            }
        </script>

        <div class="w3-main" 
             style="margin-left:300px;margin-top:43px;">   
            <div >
                <ui:insert name="painelDireito"/>
                <ui:insert name="content" />
            </div>
            <!-- Footer -->
            <footer class="w3-container w3-padding-16 w3-light-grey"
                    style="font-size: x-small;color: #80929B !important">
                <a href="http://medinapassos.com.br" 
                   target="_blank">
                    Medina Passos</a> &nbsp;&nbsp;|&nbsp;&nbsp; medinapassos.com.br Tel.: (33) 98882-3270
            </footer>
        </div>

        <!--Caixa de diálogo de Confirmação -->
        <p:confirmDialog global="true" 
                         showEffect="fade" 
                         hideEffect="fade"
                         responsive="true">
            <h:form id="formConfimacao">                    
                <p:commandButton value="Sim" 
                                 type="button" 
                                 styleClass="ui-confirmdialog-yes" 
                                 icon="ui-icon-check"
                                 style="padding: 10px"/>
                <p:commandButton value="Não" 
                                 type="button" 
                                 styleClass="ui-confirmdialog-no" 
                                 icon="ui-icon-close"
                                 style="padding: 10px"/>
            </h:form>
        </p:confirmDialog>
    </h:body>
</html>







