<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Teste - Agenda de Recados</title>
        <link rel="shortcut icon" href="imagens/Ico.ico" />
    </h:head>
    <meta name="viewport" 
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <style type="text/css">
        .ui-widget {
            font-size: 14px !important;
        }
    </style>
    <h:body>
        <div id="header" 
             style="background: white; box-decoration-break: inherit ; border-bottom-style: ridge; color: dimgray; margin: 0px; padding-top: 0px; overflow: hidden; height: 70px;">
            <h2 align="center">Login - Agenda de Recados</h2>
        </div> 
        <p:link value="Área Administrativa"
                outcome="pages/administrativa.jsf"
                style="width: 100%;"/>   
        |
        <p:link value="Área Secretária"
                outcome="pages/secretaria.jsf"
                style="width: 100%;"/>  


        <h:form id="formLogin">   
            <p:growl id="growl" 
                     showDetail="true" 
                     life="3000" />  
            <p:dialog id="dialog" 
                      header="Login" 
                      visible="true"
                      closable="false" 
                      resizable="false"
                      responsive="true">  
                <h:panelGrid columns="1"> 
                    <p:inputText value="#{indexBean.login}"   
                                 id="username" 
                                 required="true" 
                                 label="username"
                                 placeholder="Login"/>  
                    <p:password value="#{indexBean.senha}" 
                                id="password" 
                                required="true" 
                                label="password" 
                                placeholder="Senha"/> 
                    <f:facet name="footer">  
                        <p:commandButton id="loginButton"
                                         value="Entrar"
                                         update="growl" 
                                         style="width: 100%;"
                                         action="#{indexBean.logar()}"/>                        
                        <!--p:link value="Cadastre-se"
                                outcome="pages/contato.jsf"
                                style="width: 100%;"/-->                        
                    </f:facet>  
                </h:panelGrid> 
            </p:dialog>  
        </h:form>  
    </h:body>
</html>