
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Página de Erro - Agenda de Contatos</title>
    </h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <script src="jquery.js" type="text/javascript"/>
    <script src="jquery.maskedinput.js" type="text/javascript"/>

    <style type="text/css">
        .ui-widget {
            font-size: 14px !important;
        }
    </style>

    <h:body>
        <div id="header" style="background: white; box-decoration-break: inherit ; border-bottom-style: ridge; color: dimgray; margin: 0px; padding-top: 0px; overflow: hidden; height: 70px;">
            <h2 align="center">Fácil Web</h2>
        </div>

        <p:dialog id="dialog" 
                  header="Erro ao !" 
                  visible="true"
                  closable="false" 
                  resizable="false"
                  responsive="true">  
            <p:outputLabel>                    
                Erro de Autorização. <br/> Realiza Login.
            </p:outputLabel>
            <p:separator/>
            <p:link value="Logar"
                    outcome="/../index.jsf"/>   
        </p:dialog>  

    </h:body>
</html>

